/* Copyright 2015 Daan van der Zwaag */


/* Fonts */

@font-face {
    font-family: 'Geometric_706';
    src: url('fonts/geometric_706_medium-webfont.eot');
    src: url('fonts/geometric_706_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geometric_706_medium-webfont.woff2') format('woff2'),
         url('fonts/geometric_706_medium-webfont.woff') format('woff'),
         url('fonts/geometric_706_medium-webfont.ttf') format('truetype'),
         url('fonts/geometric_706_medium-webfont.svg#geometric_706medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*----- Basic CSS -----*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #595959;
    border-left: 15px solid #4C00EC;
    border-right: 15px solid #4C00EC;
    overflow-x: hidden;

}

main {

    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;

}

/* Big Border */

body:before, body:after {

    content: "";
    position: fixed;
    background: #4C00EC;
    left: 0;
    right: 0;
    height: 15px;
    z-index: 5;
     -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

body:before {

    top: 0;
    z-index: 5;

}

body:after {

    bottom: 0;
    z-index: 5;

}

/*----- Parallaxify -----

#home {

    background:url('../img/bg-test-v6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
}

@media screen and (max-width: 38em) {

    #home {

    background:url('../img/bg-test-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: -1;

    }


}

 -----*/



/* Header */

header {

    height: 98.5vh;
    width: 100%;
    z-index: -10;

}


.header-content {

    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 8rem 5rem;
    position: relative;


}

@media screen and (max-width: 30.5em) {


    body {

    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;

}

    body:before, body:after {

        height: 0px;
    }
}

.home {

     overflow: hidden;

}

/*----- Typography -----*/

p {

    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;


}

h1, h2, h3, h4, h5, h6 {

    font-family: 'Geometric_706', 'Helvetica';
    font-weight: 300;
    color: #4C00EC;
}

header > div > h1 {

    font-size: 5em;
    margin-top: 0;
    margin-bottom: 1em;

}


header > div > h2 {

    font-size: 2.5em;
    text-align: right;
    height: 2em;

}

.text-right {

    text-align: right;
}

.text-left {

    text-align: left;
}

.text-center {

    text-align: center;
}

@media screen and (max-width: 48em) {

    header > div > h1 {
        font-size: 4em;
        margin-bottom: 2em;
    }

    header > div > h2 {
        font-size: 2em;
        margin-bottom: 2em;
    }

}

@media screen and (max-width: 44em) {

    header > div > h1 {
        font-size: 3.5em;
        margin-bottom: 3.5em;
    }

    header > div > h2 {
        font-size: 1.75em;
        margin-bottom: 1.75em;
    }

     .header-content {
        padding: 12.5%;
    }

    body > main > section:nth-child(1) > div.two-third {

        text-align: center;
    }


}

@media screen and (max-width: 38em) {

    header > div > h1 {
        font-size: 3em;
    }

    header > div > h2 {
        font-size: 1.5em;
        margin-bottom: 4em;
    }


}

@media screen and (max-width: 30.5em) {

    header > div > h1 {
        font-size: 2.5em;
        margin-bottom: 2.5em;
    }

    header > div > h2 {
        font-size: 1.25em;
        margin-bottom: 4em;
    }

}

.lead-text {

    font-family: 'Geometric_706', 'Helvetica';
    font-weight: 300;
    color: #595959;
}

/* Inverted Header */

.header-inverted {

    background: -webkit-linear-gradient(bottom, #4c00ec, #3E109F);
    background: -o-linear-gradient(bottom, #4c00ec, #3E109F);
    background: linear-gradient(to top, #4c00ec, #3E109F);
    height: 80vh;
    position: relative;
    transition: all 400ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
    margin-left: -15px;
    margin-right: -15px;
    width: -moz-calc(100% + 30px);
    width: -webkit-calc(100% + 30px);
    width: -o-calc(100% + 30px);
    width: calc(100% + 30px);
    z-index: 10;

}



.header-inverted:after {

    content:'';
    position: absolute;
    top: 100%;
    left: 80%;
    margin-left: ;
    width: 0;
    height: 0;
    border-top: solid 50px #4c00ec;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
    transition: all 400ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
    z-index: 11;
}


.header-inverted > div > h1 {

    color: white;
}

.header-inverted > div > h2 {

    color: white;
}

@media screen and (max-width: 44em) {

    .header-inverted:after {

    left: 70%;
    border-top: solid 35px #4C00EC;
    border-left: solid 35px transparent;
    border-right: solid 35px transparent;
    }
}


@media screen and (max-width: 30.5em) {

    .header-inverted {

    height: 50%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    }

    .header-inverted:after {

    left: 70%;
    border-top: solid 20px #4C00EC;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
    }

}


/*----- Under Construction  -----*/


.under-construction {

    width: 17.5rem;

}

.under-construction > p {

    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
    font-size: 0.9em;
    color: rgb(112, 112, 112);

}

#error-message {

    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
    font-size: 0.9em;
    position: relative;
    min-height: 1em;
    margin: 1em 0;
    background: #f8f8f9;
    padding: 1em 1.5em;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    -webkit-transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
    transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
    box-shadow: 0 0 0 5px rgba(34,36,38,.22) inset,0 0 0 0 transparent;
    background-color: #fff6f6;
    color: #9f3a38;
    box-shadow: 0 0 0 1px #e0b4b4 inset,0 0 0 0 transparent;


}

@media screen and (max-width: 30.5em) {

    .under-construction {

        width: 100%;
    }

}


/*----- Under Construction | Link Styling -----*/

p > a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #4C00EC;
    text-decoration: none;
    font-weight: 400;

}

p > a:hover,
p > a:focus {
    outline: none;
}


p > a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 1.5px;
    background: #4C00EC;
    content: '';
    opacity: 0;
     -webkit-transform: translateY(8.5px);
    -moz-transform: translateY(-8.5px);
    transform: translateY(-8.5px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

p > a:hover::after,
p > a:focus::after {

    width: 100%;
    height: 1.5px;
    opacity: 1;

}

/* Buttons */

.btn {

    padding: 10px 30px;
    margin: 0px 0px 40px 0px;
    text-decoration: none;
    color: #4C00EC;
    background-color: #fff;
    border: 2.5px solid #4C00EC;
    border-radius: 0px;
    font-weight: 400;
    font-size: 0.9em;
    text-transform: uppercase;

}

.btn:hover,
.btn:focus {

    outline: none;
    background-color: #4C00EC;
    color: #fff;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

}

.btn-xl {

    width: 100%;
    margin-top: 20%;

}

/*----- Menu Overlay -----*/

/*
 * All the credits go to Mary Lou
 * I modifed her demo to achieve this style
 * Full Screen Overlay Effects can be found at this URL:
 * http://tympanus.net/codrops/2014/02/06/fullscreen-overlay-effects/
 */


/* Overlay style */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(bottom, #3E109F, #4c00ec);
    background: -o-linear-gradient(bottom, #3E109F, #4c00ec);
    background: linear-gradient(to top, #3E109F, #4c00ec);
    z-index: 15;
}


/* Menu style */

.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 54px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.overlay ul li a {
    font-family: 'Geometric_706', 'Helvetica';
    font-size: 5em;
    display: block;
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;

}

.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #29007F;
}




/* Effects */

.overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 0.5em;
    }
    .overlay ul li {
        min-height: 35px;
    }
}

@media screen and (max-width: 30.5em) {
    .overlay nav {
        height: 50%;
        font-size: 0.5em;
    }

}

/*----- The Toggle Component -----*/

/*
 * All the credits go to CallMeNick.com
 * I edited his demo to achieve this style
 * CSS animating hamburger menu icons demo, which can be found at this url:
 * https://github.com/callmenick/Animating-Hamburger-Icons
 */

#trigger-overlay {

    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    width: 50px;
    height: 50px;
}

@media (min-width: 30.5em) and (min-height: 30.5em) {
  #trigger-overlay {
    width: 75px;
    height: 75px;
    /* border-radius: 48px; */
  }
}

.nav-button {

  display: block;
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: #4C00EC;
  font: inherit;
  font-size: 0;
  text-indent: -9999px;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
  /* reset some browser defaults */
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  transition: all 400ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

@media (min-width: 30.5em) and (min-height: 30.5em) {
  .nav-button {
    width: 75px;
    height: 75px;
    /*border-radius: 48px; */
  }
}

.nav-button:hover,
.nav-button:focus {
  outline: none;
  background-color: #3E109F;
}


.nav-button.is-active {

    border-radius: 48px;
    outline: none;
    background-color: transparent;
    transition: all 300ms cubic-bezier(0.755, 0.05, 0.855, 0.06);

}

.nav-button span,
.nav-button span::before,
.nav-button span::after {
  display: block;
  position: absolute;
  height: 2.5px;
  background: #fff;
}
@media (min-width: 30.5em) and (min-height: 30.5em) {
  .nav-button span,
  .nav-button span::before,
  .nav-button span::after {
    height: 5px;
  }
}

.nav-button span {
  top: 25px;
  left: 10px;
  right: 10px;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}
@media (min-width: 30.5em) and (min-height: 30.5em) {
  .nav-button span {
    top: 35px;
    left: 20px;
    right: 20px;
  }
}

.nav-button span::before,
.nav-button span::after {
  left: 0;
  width: 100%;
  content: "";
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.nav-button span::before {
  top: -8px;
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}
@media (min-width: 30.5em) and (min-height: 30.5em) {
  .nav-button span::before {
    top: -12px;
  }
}

.nav-button span::after {
  bottom: -8px;
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}
@media (min-width: 30.5em) and (min-height: 30.5em) {
  .nav-button span::after {
    bottom: -12px;
  }
}

/* button active state */

.nav-button.is-active span {
  background: none;
}

.nav-button.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

.nav-button.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}


/* ----- Forms ----- */

.input-group {

    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group > .form-control {

    display: table-cell;
    position: relative;
    float: left;
    width: 101%;
    margin-bottom: 0;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2.5px solid #4C00EC;
    outline: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}

::-webkit-input-placeholder {
    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -100%;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
}

[placeholder]:focus:-moz-input-placeholder {
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -100%;
  opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
}

[placeholder]:focus::-moz-input-placeholder {
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -100%;
  opacity: 1;
}

[placeholder]:focus::-ms-input-placeholder {
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -100%;
  opacity: 1;
}

:-ms-input-placeholder {
   font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';

}


.input-group-btn {

    display: table-cell;
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    margin-left: -4px;


}

.btn-password {

    width: 50px;
    height: 50px;
    background-image: url(../img/lock.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #4C00EC;
    border: 2.5px solid #4C00EC;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: color 0.6s;
    transition: color 0.6s;


}

.btn-password:hover {

    background-image: url(../img/Lock_open_color_new.png);
     background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    -webkit-transition: color 0.6s;
    transition: color 0.6s;

}

/* Random CSS Shit */

img {

    width: 100%;
    height: auto;
}

.show {

    display: block;
}

.hide {

    display: none;
}

.profile-pic {

    width: 80%;
}

#toggle-pic > img:nth-child(2) {

    display: none;
}

/*----- About me page ------*/


.small-timeline {
    padding: 0;
    padding-top: 2rem;
    list-style: none;
    position: relative;
    z-index: -1;
}

/* The line */

.small-timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    left: 20px;
    background: #4C00EC;
}


/* Right content */

.small-timeline > li {

    position: relative;
    padding-bottom: 1.5rem;

}

.small-timeline > li:last-child {

    padding-bottom: 0;
}

.small-timeline > li .timeline-event {

    font-weight: 300;
    position: relative;
    padding-left: 5rem;

}

.event-location {

    color: #242424;
}


/* The Circles & End */


.small-timeline > li .timeline-circle {

    width: 20px;
    height: 20px;
    position: absolute;
    color: #fff;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #4C00EC;
    text-align: center;
    top: 0;
    left: 12.5px;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

}

.small-timeline > li:nth-child(1) .timeline-circle  {


    background: #4C00EC;

}

.timeline-end {

    width: 20px;
    height: 5px;
    position: absolute;
    background: #4C00EC;
    text-align: center;
    left: 12.5px;

}

.timeline-end:after {

    content: '';
    width: 20px;
    height: 5px;
    top: 0;
    right: 0;
    position: absolute;
    background: #4C00EC;
    text-align: center;
    margin-top: 12.5px;

}


/* Switch Button /// Thanks to Call me Nick for the basic */

.switch {

    position: relative;
    top: 20px;
    margin-top: -10px;

}

.dvdz-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.dvdz-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.dvdz-toggle + label {
  padding: 2px;
  width: 100%;
  height: 3.5rem;
  background-color: #fff;
  border: 5px #4C00EC solid;
  transition: background 0.4s;
}
input.dvdz-toggle + label:before,
input.dvdz-toggle + label:after {
  display: block;
  position: absolute;
  content: "";
  line-height: 2.4em;
  font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
  font-size: 0.9em;
  font-weight: 600;

}

input.dvdz-toggle + label:before {
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  padding-left: 17.5%;
  content: attr(data-on);
  color: #4C00EC;
  backface-visibility: hidden;
  transition: background 0.4s;
}
input.dvdz-toggle + label:after {
  top: 5px;
  left: 5px;
  bottom: 5px;
  width: 50%;
  background-color: #4C00EC;
  color: #fff;
  text-align: center;
  content: attr(data-off);
  backface-visibility: hidden;
  transition: margin 0.4s, background 0.4s;
}
input.dvdz-toggle:checked + label {
  background-color: #fff;
}

input.dvdz-toggle:checked + label:after {

    margin-left: -moz-calc(50% - 10px);
    margin-left: -webkit-calc(50% - 10px);
    margin-left: -o-calc(50% - 10px);
    margin-left: calc(50% - 10px);
    background-color: #4C00EC;
    color: transparent;


}

@media screen and (max-width: 64em) {

     input.dvdz-toggle + label:before {

        content: 'Yes please';
        padding-left: 15%;
    }

    input.dvdz-toggle + label:after {

        content: 'No thanks';
    }

}

@media screen and (max-width: 44em) {

     input.dvdz-toggle + label:before {

        padding-left: 12.5%;
    }

    .switch {

        left: 0;
    }

    .small-timeline:before {

        left: 0;
    }

    .small-timeline > li .timeline-circle, timeline-end {

        left: -7px;

    }



    .timeline-end {

        left: -7px;
    }

    .small-timeline > li .timeline-event {


    padding-left: 3rem;

    }

}

@media screen and (max-width: 30.5em) {

     input.dvdz-toggle + label:before {

        padding-left: 7%;
    }
}

#panel, #panel-two {

    display: none;
    width: -moz-calc(100% + 20px);
    width: -webkit-calc(100% + 20px);
    width: -o-calc(100% + 20px);
    width: calc(100% + 20px);
    right: 20px;
}

#panel-three {

    display: none;
    width: 100%;
}

@media screen and (max-width: 44em) {


    #panel, #panel-two, #panel-three {

    right: 0;
    width: 100%;

    }

}

/* Progress Bars */

.progress-box {

    height: 1.5rem;
    background-color: #fff;
    border: 2.5px solid transparent;
    -moz-border-image: -webkit-linear-gradient(left, #4c00ec, #23006c);
    -webkit-border-image: -o-linear-gradient(left, #4c00ec, #23006c);
    border-image: linear-gradient(to right, #4c00ec, #23006c);
    border-image-slice: 1;
    transition: background 0.4s;

}

progress {


    background: -webkit-linear-gradient(left, #4c00ec, #23006c);
    background: -o-linear-gradient(left, #4c00ec, #23006c);
    background: linear-gradient(to right, #4c00ec, #23006c);
    /* border: 5px #fff solid; */
    height: 100%;
    width: 100%;
    transition: background 0.4s;
}

progress::-webkit-progress-bar {
    background-color: #fff;
}

progress::-webkit-progress-value {
    background: -webkit-linear-gradient(left, #4c00ec, #23006c);
    background: -o-linear-gradient(left, #4c00ec, #23006c);
    background: linear-gradient(to right, #4c00ec, #23006c);

}

progress::-moz-progress-bar {
    background: -webkit-linear-gradient(left, #4c00ec, #23006c);
    background: -o-linear-gradient(left, #4c00ec, #23006c);
    background: linear-gradient(to right, #4c00ec, #23006c);
}

#skills > h3 {

    font-size: 0.8em;
    color: #242424;
}

/*----- Portfolio Grid -----*/


.portfolio-grid > article {

    margin-bottom: 2em;
}

.portfolio-item {

    width: 100%;
    height: 100%;
    /* background-color: #4C00EC; */
}

/*----- Own Grid -----*/


section {

    padding-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.row {

  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}

.one-third {

  -ms-flex-preferred-size: 30%;
  -webkit-flex-basis: 30%;
  flex-basis: 30%;
  max-width: 30%;

}

.two-third {

  -ms-flex-preferred-size: 60%;
  -webkit-flex-basis: 60%;
  flex-basis: 60%;
  max-width: 60%;
  margin-left: auto;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}


@media screen and (max-width: 44em) {

    main {

        padding: 12.5%;
    }

    .one-third, .two-third {

        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;

    }


    body > main > section > div.one-third {

        text-align: left;

    }

    body > main > section:nth-child(1) > div.one-third {

        text-align: center;
    }

    .profile-pic {

        width: 50%;
    }


}


/*----- Test Home Header -----*/

.header-home-inverted {

    background: -webkit-linear-gradient(bottom, #4c00ec, #3E109F);
    background: -o-linear-gradient(bottom, #4c00ec, #3E109F);
    background: linear-gradient(to top, #4c00ec, #3E109F);
    height: 100vh;
    position: relative;
    transition: all 400ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
    margin-left: -15px;
    margin-right: -15px;
    width: -moz-calc(100% + 30px);
    width: -webkit-calc(100% + 30px);
    width: -o-calc(100% + 30px);
    width: calc(100% + 30px);
    z-index: 10;

}

.header-home-content {

    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.header-home-content > h1 {

    font-size: 2em;
    letter-spacing: .5em;
     color: white;
}

.header-home-content > h2 {

    text-align: center;
    font-family: 'Source Code Pro';
    font-size: 1.5em;
    color: white;
}

.header-home-button {

    background-color: transparent;

}


@media screen and (max-width: 44em) {


    .header-home-content > h1 {

        font-size: 1em;
    }

    .header-home-content > h2 {

        font-size:  0.75em;
    }

}

/*----- Scroll Fade In -----*/


.bounce-up {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
