/* Copyright 2015 Daan van der Zwaag */
/* Old Green: 00EC9A */


/* Fonts */

@font-face {
    font-family: 'Geometric_706';
    src: url('fonts/geometric_706_medium-webfont.eot');
    src: url('fonts/geometric_706_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geometric_706_medium-webfont.woff2') format('woff2'),
         url('fonts/geometric_706_medium-webfont.woff') format('woff'),
         url('fonts/geometric_706_medium-webfont.ttf') format('truetype'),
         url('fonts/geometric_706_medium-webfont.svg#geometric_706medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*----- Basic CSS -----*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #595959;
    overflow-x: hidden;
     -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    /*
    background-color: rgba(76, 0, 236, 0.05); */
}

main {

    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;

}

/* Big Border */

body {

    border-left: 30px solid #4c00ec;
    border-right: 30px solid #4c00ec;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

}

body:before, body:after {

    content: "";
    position: fixed;
    background: #4c00ec;
    left: 0;
    right: 0;
    height: 30px;
    z-index: 5;
     -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

body:before {

    top: 0;
    z-index: 5;

}

body:after {

    bottom: 0;
    z-index: 5;

}

body.big-border-white {

    border-left: 30px solid #fff;
    border-right: 30px solid #fff;

}

body.big-border-white::before, body.big-border-white::after {

    background: #fff;

}


@media screen and (max-width: 30.5em) {


    body, body.big-border-white {

    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;

}

    body:before, body:after {

        height: 0px;
    }

    body.big-border-white::before, body.big-border-white::after {

    height: 0;

    }
}

/* Header */

header {

    height: 98.5vh;
    width: 100%;
    z-index: -10;

}


.header-content {

    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
    position: relative;
    padding-top: 12.5%;

}


/*----- Typography -----*/

p {

    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    line-height: 1.75em;
    text-align: justify;

}

h1, h2, h3, h4, h5, h6 {

    font-family: 'Geometric_706', 'Helvetica';
    font-weight: 300;
    color: #4C00EC;
}

header > div > h1 {

    font-size: 6em;
    margin-top: 0;
    margin-bottom: 1em;

}


header > div > h2 {

    font-size: 2.5em;
    text-align: right;
    height: 2em;

}

.text-right {

    text-align: right;
}

.text-left {

    text-align: left;
}

.text-center {

    text-align: center;
}

@media screen and (max-width: 48em) {

    header > div > h1 {
        font-size: 4em;
        margin-bottom: 2em;
    }

    header > div > h2 {
        font-size: 2em;
        margin-bottom: 2em;
    }


}

@media screen and (max-width: 44em) {

    header > div > h1 {
        font-size: 3.5em;
        margin-bottom: 3.5em;
    }

    header > div > h2 {
        font-size: 1.75em;
        margin-bottom: 1.75em;
    }

     .header-content {
        padding: 12.5%;
    }



}

@media screen and (max-width: 38em) {

    header > div > h1 {
        font-size: 3em;
    }

    header > div > h2 {
        font-size: 1.5em;
        margin-bottom: 4em;
    }

    p {

        text-align: left;
    }

}

@media screen and (max-width: 30.5em) {

    header > div > h1 {
        font-size: 2.5em;
        margin-bottom: 2.5em;
    }

    header > div > h2 {
        font-size: 1.25em;
        margin-bottom: 4em;
    }

}

h1 + p {

    font-weight: 400;
    color: #242424;
}

.dark-text {

    color: #242424
}

/* Inverted Header */

.header-inverted {

    background: -webkit-linear-gradient(bottom, #4c00ec, #3E109F);
    background: -o-linear-gradient(bottom, #4c00ec, #3E109F);
    background: linear-gradient(to top, #4c00ec, #3E109F);
    height: 80vh;
    position: relative;
    transition: all 400ms cubic-bezier(0.755, 0.05, 0.855, 0.06);

    margin-left: -30px;
    margin-right: -30px;
    width: -moz-calc(100% + 60px);
    width: -webkit-calc(100% + 60px);
    width: -o-calc(100% + 60px);
    width: calc(100% + 60px);
    z-index: 5;

}



.header-inverted:after {

    content:'';
    position: absolute;
    top: 100%;
    left: 80%;
    width: 0;
    height: 0;
    border-top: solid 50px #4c00ec;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
    transition: all 400ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
    z-index: 11;
}


.header-inverted > div > h1 {

    color: white;
}

.header-inverted > div > h2 {

    color: white;
}

@media screen and (max-width: 44em) {

    .header-inverted:after {

    left: 70%;
    border-top: solid 35px #4C00EC;
    border-left: solid 35px transparent;
    border-right: solid 35px transparent;
    }
}


@media screen and (max-width: 30.5em) {

    .header-inverted {

    height: 50%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    }

    .header-inverted:after {

    left: 70%;
    border-top: solid 20px #4C00EC;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
    }

}


a {

    outline: none;
    text-decoration: none;
}


/* Buttons */

.btn {

    padding: 2% 5%;
    text-decoration: none;
    color: #4C00EC;
    background-color: #fff;
    border: 3.5px solid #4C00EC;
    border-radius: 0px;
    font-weight: 500;
    font-size: 0.9em;
    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';

}

.btn:hover,
.btn:focus {

    outline: none;
    background-color: #4C00EC;
    color: #fff;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

}

.btn-inverted {

    padding: 2% 5%;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: 3.5px solid #fff;
    border-radius: 0px;
    font-weight: 500;
    font-size: 0.9em;
    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';

}

.btn-inverted:hover,
.btn-inverted:focus {

    outline: none;
    background-color: #fff;
    color: #4C00EC;
    border-color: #fff;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

}

@media screen and (max-width: 30.5em) {
    .btn-inverted  {
        width: 100%;
        padding: 5%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

}

.btn-xl {

    width: 100%;

}

/*----- Link Styling -----*/

p > a {

    text-decoration: none;
    position: relative;
    color: #4C00EC;
    -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
}

p > a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #4C00EC;
   -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
}

p > a:hover:after {
  width: 100%;
}


/*----- Menu Overlay -----*/

/*
 * All the credits go to Mary Lou
 * I modifed her demo to achieve this style
 * Full Screen Overlay Effects can be found at this URL:
 * http://tympanus.net/codrops/2014/02/06/fullscreen-overlay-effects/
 */


/* Overlay style */

.overlay {
    position: fixed;
    width: calc(100% - 60px);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    right: 0;
    left: 0;
    background: -webkit-linear-gradient(bottom, #3E109F, #4c00ec);
    background: -o-linear-gradient(bottom, #3E109F, #4c00ec);
    background: linear-gradient(to top, #3E109F, #4c00ec);
    z-index: 2;
}

.yolo {

    width: 100%;
    z-index: 20;

}

/* Menu style */

.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 54px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.overlay ul li a {
    font-family: 'Geometric_706', 'Helvetica';
    font-size: 4em;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    display: block;
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
      -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.overlay ul li a:hover,
.overlay ul li a:focus {

      -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-shadow: rgb(0, 220, 147) 1px 1px,
    rgb(0, 220, 147) 2px 2px,
    rgb(0, 220, 147) 3px 3px,
    rgb(0, 220, 147) 4px 4px,
    rgb(0, 220, 147) 5px 5px,
    rgb(0, 220, 147) 6px 6px,
    rgb(0, 220, 147) 7px 7px,
    rgb(0, 220, 147) 8px 8px;
}


/* Effects */

.overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

@media screen and (max-height: 30.5em) {

    .overlay {
        width: 100%;
    }
    .overlay nav {
        height: 70%;
        font-size: 0.5em;
    }
    .overlay ul li {
        min-height: 35px;
    }
}

@media screen and (max-width: 30.5em) {
     .overlay {
        width: 100%;
    }
    .overlay nav {
        height: 50%;
        font-size: 0.5em;
    }

}

/*----- The Toggle Component -----*/

/*
 * All the credits go to CallMeNick.com
 * I edited his demo to achieve this style
 * CSS animating hamburger menu icons demo, which can be found at this url:
 * https://github.com/callmenick/Animating-Hamburger-Icons
 */

#trigger-overlay {

    position: fixed;
    z-index: 1000;
    width: 50px;
    height: 50px;
}

@media (min-width: 30.5em) and (min-height: 30.5em) {
  #trigger-overlay {
    width: 75px;
    height: 75px;
  }
}

.nav-button {

  display: block;
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: #4C00EC;
  font: inherit;
  font-size: 0;
  text-indent: -9999px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;

}

@media (min-width: 30.5em) and (min-height: 30.5em) {

  .nav-button {
    width: 75px;
    height: 75px;
  }

}
.nav-button:hover,
.nav-button:focus {
  outline: none;
}

.nav-button.is-active,
.nav-button:hover {

    box-shadow: rgb(0, 220, 147) 1px 1px,
    rgb(0, 220, 147) 2px 2px,
    rgb(0, 220, 147) 3px 3px,
    rgb(0, 220, 147) 4px 4px,
    rgb(0, 220, 147) 5px 5px,
    rgb(0, 220, 147) 6px 6px,
    rgb(0, 220, 147) 7px 7px,
    rgb(0, 220, 147) 8px 8px,
    rgb(0, 220, 147) 9px 9px,
    rgb(0, 220, 147) 10px 10px,
    rgb(0, 220, 147) 11px 11px,
    rgb(0, 220, 147) 12px 12px,
    rgb(0, 220, 147) 13px 13px,
    rgb(0, 220, 147) 14px 14px,
    rgb(0, 220, 147) 15px 15px,
    rgb(0, 220, 147) 16px 16px,
    rgb(0, 220, 147) 17px 17px,
    rgb(0, 220, 147) 18px 18px,
    rgb(0, 220, 147) 19px 19px,
    rgb(0, 220, 147) 20px 20px,
    rgb(0, 220, 147) 21px 21px,
    rgb(0, 220, 147) 22px 22px,
    rgb(0, 220, 147) 23px 23px,
    rgb(0, 220, 147) 24px 24px,
    rgb(0, 220, 147) 25px 25px,
    rgb(0, 220, 147) 26px 26px,
    rgb(0, 220, 147) 27px 27px,
    rgb(0, 220, 147) 28px 28px,
    rgb(0, 220, 147) 29px 29px,
    rgb(0, 220, 147) 30px 30px,
    rgb(0, 220, 147) 31px 31px,
    rgb(0, 220, 147) 32px 32px,
    rgb(0, 220, 147) 33px 33px,
    rgb(0, 220, 147) 34px 34px,
    rgb(0, 220, 147) 35px 35px,
    rgb(0, 220, 147) 36px 36px,
    rgb(0, 220, 147) 37px 37px,
    rgb(0, 220, 147) 38px 38px,
    rgb(0, 220, 147) 39px 39px,
    rgb(0, 220, 147) 40px 40px,
    rgb(0, 220, 147) 41px 41px,
    rgb(0, 220, 147) 42px 42px,
    rgb(0, 220, 147) 43px 43px,
    rgb(0, 220, 147) 44px 44px,
    rgb(0, 220, 147) 45px 45px,
    rgb(0, 220, 147) 46px 46px,
    rgb(0, 220, 147) 47px 47px,
    rgb(0, 220, 147) 48px 48px,
    rgb(0, 220, 147) 49px 49px,
    rgb(0, 220, 147) 50px 50px,
    rgb(0, 220, 147) 51px 51px,
    rgb(0, 220, 147) 52px 52px,
    rgb(0, 220, 147) 53px 53px,
    rgb(0, 220, 147) 54px 54px,
    rgb(0, 220, 147) 55px 55px,
    rgb(0, 220, 147) 56px 56px;
   background-color: rgb(0, 255, 170);

    }

.nav-button.is-active {

    outline: none;
    background-color:  hsl(160, 100%, 50%);
}

.nav-button span,
.nav-button span::before,
.nav-button span::after {
  display: block;
  position: absolute;
  height: 2.5px;
  background: #fff;
}

@media (min-width: 30.5em) and (min-height: 30.5em) {
  .nav-button span,
  .nav-button span::before,
  .nav-button span::after {
    height: 5px;
  }
}

.nav-button span {
  top: 25px;
  left: 10px;
  right: 10px;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}
@media (min-width: 30.5em) and (min-height: 30.5em) {
  .nav-button span {
    top: 35px;
    left: 20px;
    right: 20px;
  }
}

.nav-button span::before,
.nav-button span::after {
  left: 0;
  width: 100%;
  content: "";
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.nav-button span::before {
  top: -8px;
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}
@media (min-width: 30.5em) and (min-height: 30.5em) {
  .nav-button span::before {
    top: -12px;
  }
}

.nav-button span::after {
  bottom: -8px;
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}
@media (min-width: 30.5em) and (min-height: 30.5em) {
  .nav-button span::after {
    bottom: -12px;
  }
}

/* button active state */

.nav-button.is-active span {
  background: none;
}

.nav-button.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

.nav-button.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}



/* Random CSS Shit */

img {

    width: 100%;
    height: auto;
}

.show {

    display: block;
}

.hide {

    display: none;
}

.profile-pic {

    width: 80%;
}

#toggle-pic {

    width: 100%;
    margin-bottom: 10%;
}

#toggle-pic > img:nth-child(2) {

    display: none;
}

::-moz-selection {

    background: hsl(160, 100%, 50%);;
}
::selection {
    background: hsl(160, 100%, 50%);;
}



/*----- About me page ------*/

#tldrClick {

    color: #4C00EC;
    cursor: pointer;

}

.tldr-text {

    display: none;
     -webkit-transition: 0.5s ease;
            transition: 0.5s ease;

}

.small-timeline, .extra-list {
    padding: 0;
    padding-top: 2rem;
    list-style: none;
    position: relative;

}

/* The line */

.small-timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    left: 20px;
    background: #4C00EC;
}


/* Right content */

.small-timeline > li {

    position: relative;
    padding-bottom: 1.5rem;

}

.small-timeline > li:last-child {

    padding-bottom: 0;
}

.small-timeline > li .timeline-event {

    font-weight: 300;
    position: relative;
    padding-left: 5rem;

}

#skills > div.expertise-text > p {

    font-weight: 300;

}


/* The Circles & End */


.small-timeline > li .timeline-circle {

    width: 20px;
    height: 20px;
    position: absolute;
    color: #fff;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #4C00EC;
    text-align: center;
    top: 0;
    left: 12.5px;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

}

.small-timeline > li:nth-child(1) .timeline-circle  {


    background: #4C00EC;

}

.timeline-end {

    width: 20px;
    height: 5px;
    position: absolute;
    background: #4C00EC;
    text-align: center;
    left: 12.5px;

}

.timeline-end:after {

    content: '';
    width: 20px;
    height: 5px;
    top: 0;
    right: 0;
    position: absolute;
    background: #4C00EC;
    text-align: center;
    margin-top: 12.5px;

}

/* Extra List */

.extra-list {

    padding-top: 2.5rem;
}

.extra-list > li .extra-circle {

    width: 20px;
    height: 20px;
    position: absolute;
    color: #fff;
    background: #fff;
    border-radius: 50%;
    margin-top: 5px;
    box-shadow: 0 0 0 5px #4C00EC;
    text-align: center;
    top: 0;
    left: 5px;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

}

.extra-list > li {

    position: relative;
    padding-bottom: 1.5rem;

}

.extra-list > li:last-child {

    padding-bottom: 0;
}

.extra-list > li .timeline-event {

    font-weight: 300;
    position: relative;
    padding-left: 5rem;

}

div.one-third.text-right > h2 {

    margin-top: 0;
}
/* Switch Button /// Thanks to Call me Nick for the basic */

.switch {

    position: relative;
    top: 20px;
    margin-top: -10px;

}

.dvdz-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.dvdz-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.dvdz-toggle + label {
  padding: 2px;
  width: 100%;
  height: 3.5rem;
  background-color: transparent;
  border: 5px #4C00EC solid;
  transition: background 0.4s;
}
input.dvdz-toggle + label:before,
input.dvdz-toggle + label:after {
  display: block;
  position: absolute;
  content: "";
  line-height: 2.4em;
  font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
  font-size: 0.9em;
  font-weight: 600;

}

input.dvdz-toggle + label:before {
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  padding-left: 17.5%;
  content: attr(data-on);
  color: #4C00EC;
  backface-visibility: hidden;
  transition: background 0.4s;
}
input.dvdz-toggle + label:after {
  top: 5px;
  left: 5px;
  bottom: 5px;
  width: 50%;
  background-color: #4C00EC;
  color: #fff;
  text-align: center;
  content: attr(data-off);
  backface-visibility: hidden;
  transition: margin .4s ease-in-out;

}
input.dvdz-toggle:checked + label {
  background-color: transparent;
}

input.dvdz-toggle:checked + label:after {

    margin-left: -moz-calc(50% - 10px);
    margin-left: -webkit-calc(50% - 10px);
    margin-left: -o-calc(50% - 10px);
    margin-left: calc(50% - 10px);
    background-color: #4C00EC;
    color: transparent;

}

input.dvdz-toggle + label:hover::after {

    background: -webkit-linear-gradient(left, #4c00ec, #23006c);
    background: -o-linear-gradient(left, #4c00ec, #23006c);
    background: linear-gradient(to right, #4c00ec, #23006c);

}

@media screen and (max-width: 64em) {

     input.dvdz-toggle + label:before {

        content: 'Yes please';
        padding-left: 15%;
    }

    input.dvdz-toggle + label:after {

        content: 'No thanks';
    }

}

@media screen and (max-width: 44em) {

     input.dvdz-toggle + label:before {

        padding-left: 12.5%;
    }

    .switch {

        left: 0;
    }

    .small-timeline:before {

        left: 0;
    }

    .small-timeline > li .timeline-circle, timeline-end {

        left: -7px;

    }


    .timeline-end {

        left: -7px;
    }

    .small-timeline > li .timeline-event {


    padding-left: 3rem;

    }

}

@media screen and (max-width: 30.5em) {

     input.dvdz-toggle + label:before {

        padding-left: 7%;
    }
}

#panel, #panel-two {

    display: none;
    width: -moz-calc(100% + 20px);
    width: -webkit-calc(100% + 20px);
    width: -o-calc(100% + 20px);
    width: calc(100% + 20px);
    right: 20px;
}

#panel-three, #panel-four {

    display: none;
    width: 100%;
}


.expertise-text {

    margin-top: 3em;
}

@media screen and (max-width: 44em) {


    #panel, #panel-two, #panel-three, #panel-four {

    right: 0;
    width: 100%;

    }

}

body > main > section > div.two-third {

    margin-top: -10px;
}

/* Progress Bars */

.progress-box {

    height: 1.5rem;
    background-color: #fff;
    border: 2.5px solid transparent;
    -moz-border-image: -webkit-linear-gradient(left, #4c00ec, #23006c);
    -webkit-border-image: -o-linear-gradient(left, #4c00ec, #23006c);
    border-image: linear-gradient(to right, #4c00ec, #23006c);
    border-image-slice: 1;
    transition: background 0.4s;

}

progress {


    background: -webkit-linear-gradient(left, #4c00ec, #23006c);
    background: -o-linear-gradient(left, #4c00ec, #23006c);
    background: linear-gradient(to right, #4c00ec, #23006c);
    height: 100%;
    width: 100%;
    transition: background 0.4s;
}

progress::-webkit-progress-bar {
    background-color: #fff;
}

progress::-webkit-progress-value {
    background: -webkit-linear-gradient(left, #4c00ec, #23006c);
    background: -o-linear-gradient(left, #4c00ec, #23006c);
    background: linear-gradient(to right, #4c00ec, #23006c);

}

progress::-moz-progress-bar {
    background-color: #fff;

}

#skills > h3 {

    font-size: 0.8em;
    color: #242424;
}

/*----- Own Grid -----*/


.row {

  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.one-third {

  -ms-flex-preferred-size: 30%;
  -webkit-flex-basis: 30%;
  flex-basis: 30%;
  max-width: 30%;

}

.two-third {

  -ms-flex-preferred-size: 60%;
  -webkit-flex-basis: 60%;
  flex-basis: 60%;
  max-width: 60%;
  margin-left: auto;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media screen and (max-width: 44em) {

    main {

        padding: 12.5%;
    }

    .one-third, .two-third {

        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;

    }


    body > main > section > div.one-third {

        text-align: left;

    }

    body > main > section:nth-child(1) > div.one-third {

        text-align: center;
    }

    .profile-pic {

        width: 50%;
    }


}

/*----- Test Home Header -----*/

.home {

    background: -webkit-linear-gradient(bottom, #4c00ec, #3E109F);
    background: -o-linear-gradient(bottom, #4c00ec, #3E109F);
    background: linear-gradient(to top, #4c00ec, #3E109F);
    height: 100%;
    position: relative;
    transition: all 400ms cubic-bezier(0.755, 0.05, 0.855, 0.06);

}

.home-content {

    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.header-home-inverted {

    height: 100vh;
    position: relative;
    transition: all 400ms cubic-bezier(0.755, 0.05, 0.855, 0.06);


}

.header-home-content {

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 30%;
    transform: translateY(-30%);

}

.header-home-content > h1 {

    font-size: 2em;
    letter-spacing: .5em;
    color: #fff;
    margin-top: 4rem;
}

.header-home-content > h2 {

    text-align: center;
    font-family: 'Source Code Pro';
    font-size: 1.5em;
    color: white;
}

.logo-home {

    max-width: 10%;
    height: auto;

}

.menu-home {
    max-width: 55%;
    height: auto;
    margin-bottom: 5rem;
}

.header-home-button {

    background-color:  hsl(160, 100%, 50%);
    right: 15px;
    bottom: 15px;

}

@media screen and (max-width: 44em) {


    .header-home-content > h1 {

        font-size: 1em;
        margin-bottom: 0.5em;
    }

    .header-home-content > h2 {

        font-size:  1em;
    }

    .logo-home {

    max-width: 20%;
    margin-bottom: 2.5rem;
    }

    .header-home-content {


    position: relative;
    top: 30%;
    transform: translateY(-50%);

    }

    .header-home-content > h1 {

        margin-top: 0;
    }

}

/*----- Portfolio Grid -----*/

.portfolio-grid {

    margin-top: 3.5rem;
}

.portfolio-grid > article {

    margin-bottom: 2em;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio-item {

    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

}

@media only screen and (min-width: 62em) {

    .col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    -webkit-flex-basis: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
    }

    .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    -webkit-flex-basis: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
    }


}



/*----- Scroll Fade In -----*/


.bounce-up {
  opacity: 0;

/*
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
    */

      -webkit-transition-property: -webkit-transform,opacity;
    -moz-transition-property: -moz-transform,opacity;
    transition-property: transform,opacity;
    -webkit-transition-delay: 0,.3s;
    -moz-transition-delay: 0,.3s;
    transition-delay: 0,.3s;
    -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    -moz-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
    transition-duration: 1.5s;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


/*----- Figure Styling & Hover Portfolio Effects -----*/

figure {
    position: relative;
    margin: 0;
    overflow: hidden;
    background: #4c00ec;
    text-align: center;
    cursor: pointer;
}

figure picture img {
    position: relative;
    display: block;
    max-width: 100%;
}

figure figcaption {
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
    pointer-events: none;
}

figure figcaption,
figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */

figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    font-size: 0;
    opacity: 0;
}

figure h2 {
    font-family: 'Geometric_706', 'Helvetica';
    font-weight: 300;
    font-size: 2em;
    letter-spacing: 4px;
}


figure h2,
figure p {

    margin: 0;
}

figure p {

    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
    font-size: 1em;
    letter-spacing: 2px;
}

figure p span {

    font-weight: 900;
}

figure.portfolio-item figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(160, 100%, 50%);
    background-image: url(../img/hover_icon_portfolio_height_green.png);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}

figure.portfolio-item figcaption.small::before {

    background-image: url(../img/hover_icon_portfolio_width_green.png);

}

figure.portfolio-item figcaption.width::before {

    background-image: url(../img/hover_icon_portfolio_width_green.png);

}

figure.portfolio-item figcaption.notsosquare::before {

    background-image: url(../img/hover_icon_portfolio_square_green.png);
    background-size: 20%;

}

figure.portfolio-item figcaption.disabled-figcap::before {

    background-image: 0;
    background-size: 0;
    background-color: transparent;

}


figure.portfolio-item h2 {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    color: #fff;
    opacity: 0;
    -webkit-transform: translate3d(0,90px,0);
    transform: translate3d(0,90px,0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figcaption.small h2 {

    top: 60%;
    font-size: 1.2em;

}

figcaption.notsosquare h2 {

    top: 60%;
    font-size: 1.2em;
}

body > main > section > article:nth-child(1) > figure > figcaption > p {

    bottom: 2%;
}

figure.portfolio-item figcaption::before,
figure.portfolio-item p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.portfolio-item p {
    position: absolute;
    bottom: 5%;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
    text-align: center;
}

figure.portfolio-item:hover h2 {
    opacity: 1;
    color: #fff;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.portfolio-item:hover figcaption::before ,
figure.portfolio-item:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


figure.portfolio-item figcaption::after {

    content:'';
    position: absolute;
    top: 0;
    left: calc(50% - 50px);
    margin-left: auto;
    width: 0;
    height: 0;
    border-top: solid 50px #fff;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
    transition: transform .2s ease-in-out;
     -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);


}

figure.portfolio-item figcaption:hover::after {

     -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;

}

@-webkit-keyframes bounce {

    0%, 100% {

        -webkit-transform: translateY(-10px);
        animation-timing-function: ease-out;
    }

    50%  {

        -webkit-transform: translateY(-1px);
        animation-timing-function: ease-in;
    }
}

/*----- Small Hover + Responsiveness ------*/

figure.portfolio-item figcaption.small::before {

    background-size: 40%;

}

figcaption.small > h2  {

   top: 65%;
}

@media screen and (max-width: 62em) {

    figcaption.tall h2,
    figcaption.width h2 {

    top: 60%;
    font-size: 1.2em;

    }

    figure.portfolio-item figcaption.width::before {

    background-image: url('../img/hover_icon_portfolio_xs.png');
    }

    figure.portfolio-item figcaption.small::before,
    figure.portfolio-item figcaption.notsosquare::before {

    background-image: url('../img/hover_icon_portfolio_xs.png');
    background-size: 20%;
    }

    figure.portfolio-item figcaption::before {

    background-image: url('../img/hover_icon_portfolio_xs.png');
    background-size: 20%;
    }

}

@media screen and (max-width: 30.5em) {


    figure.portfolio-item p  {

        display: none;

    }

    figure.portfolio-item h2 {

        font-size: 1em;
    }


}

/*----- Portfolio Item Page Styling -----*/

.portfolio-header {

    height: 85vh;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: bottom;
     -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 44em) {

.portfolio-header {

    height: 50vh;

    }

}

@media screen and (min-width: 60em) {

    .portfolio-header {
    background-size: 60%;

    }

}

@media screen and (min-width: 95em) {

    .portfolio-header {
    background-size: 50%;

    }

}


/* Portfolio Headers */

.hwh-bg {

    background-image: url('../img/portfolio/honkbalweek_header_V1.png');
    background-color: #f04e23;

}

.lariva-bg {

    background-image: url('../img/portfolio/lariva_header_v2.png');
    background-color: #169dee;

}

.dominic-bg {

    /* Fallback */
    background-image: url('../img/portfolio/dominic_header_V2.png');

    /* CSS gradients */
    background-image: url('../img/portfolio/dominic_header_V2.png'),
                      -moz-linear-gradient(top, #50fadc, #59c8fa);
    background-image: url('../img/portfolio/dominic_header_V2.png'),
                      -webkit-linear-gradient(bottom, #59c8fa, #50fadc);
    background-image: url('../img/portfolio/dominic_header_V2.png'),
                      linear-gradient(to top, #59c8fa, #50fadc);

    background-size: contain;


}

.split-bg {

    background-image: url('../img/portfolio/split_the_bill_header_V1.png');
    background-color: #f15b58;

}

.soulcycle-bg {

    background-image: url('../img/portfolio/soulcycle_header_V1.png');
    background-color: #1a1a1a;

}

.sprtz-bg {

     /* Fallback */
    background-image: url('../img/portfolio/sprtz_header_V1.png');

    /* CSS gradients */
    background-image: url('../img/portfolio/sprtz_header_V2.png'),
                      -moz-linear-gradient(top, #ea6212, #000);
    background-image: url('../img/portfolio/sprtz_header_V2.png'),
                      -webkit-linear-gradient(bottom, #000, #ea6212);
    background-image: url('../img/portfolio/sprtz_header_V2.png'),
                      linear-gradient(to top, #000, #ea6212);

    background-size: contain;

}


.others-bg {

    /* Fallback */
    background-image: url('../img/portfolio/others_header.png');

    /* CSS gradients */
    background-image: url('../img/portfolio/others_header.gif'),
                      -moz-linear-gradient(top, #00ffaa, #3E109F);
    background-image: url('../img/portfolio/others_header.gif'),
                      -webkit-linear-gradient(bottom, #00ffaa, #3E109F);
    background-image: url('../img/portfolio/others_header.gif'),
                      linear-gradient(to top, #00ffaa, #3E109F);

    background-size: contain;

}



.portfolio-categories-list, .nav-categories-list, .portfolio-extra-list {

    list-style: none;
    padding: 0;
    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
    font-size: 0.9em;
    color: #fff;

}

.nav-categories-list {

    margin-bottom: 20%;
}

.nav-categories-list a {

    outline: none;
    text-decoration: none;
     -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.4);
}

.nav-categories-list a:hover {

    color: hsl(160, 100%, 50%);

}

li.nav-categories-list-item.next-item > a {

    color: rgba(255, 255, 255, 0.8);
}

li.nav-categories-list-item.next-item > a:hover {

    color: hsl(160, 100%, 50%);
}


.portfolio-extra-list {

    color: rgba(0, 0, 0, 0.4);
    line-height: 2em;

}

.portfolio-extra-list a {

    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    outline: none;
    text-decoration: none;
     -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

.portfolio-extra-list a:hover {

    color: hsl(160, 100%, 50%);
}

.small-date {

    display: none;
    font-weight: 300;
    padding-right: 1em;
}

@media screen and (max-width: 44em) {

    .hide-xs {
        display: none;
    }

    .small-date {

        display: inline-block;
    }
}


.portfolio-title {

    margin: 0 0 10% 0;
    color: #fff;
}

.gradient-bg {

    background: -webkit-linear-gradient(bottom, #4c00ec, #3E109F);
    background: -o-linear-gradient(bottom, #4c00ec, #3E109F);
    background: linear-gradient(to top, #4c00ec, #3E109F);
}


.gray-bg {

    background-color: #f2f2f2;
}

.white-bg {

    background-color: #ffffff;
}


@media screen and (max-width: 30.5em) {

    .portfolio-title {
    margin: 0;

    }

    .portfolio-info-box {

    text-align: center;
    margin-bottom: 3rem;

    }

}

.portolio-intro-text {

    text-align: center;
    font-family: 'Geometric_706', 'Helvetica';
    font-weight: 300;
    color: #242424;
    line-height: 2em;
    font-size: 1em;
}

.with-who {

    text-align: center;
    color: #a6a6a6;
    margin-top: 2em;
}


/* Full width shit */

.full-width {

    max-width: 100%;
    padding: 0;

}

.full-width-row {

    margin-left: auto;
    margin-right: auto;
}

.max-width-column {

    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;

}

.half {

    height: 50vh;

    }

@media screen and (max-width: 44em) {

    .max-width-column {
    padding: 12.5%;

    }

    .align-verticaly {
    transform: translateY(-0%);
    }

    .half {

    height: 100%;

    }

}


/* Buttons navigation portfolio  */
/* Portfolio Item Footer */

.footer-portfolio {

    background-color: hsl(160, 100%, 50%);
}


.nav-footer-text {

    padding: 2rem;
    padding-bottom: calc(2rem + 30px);
}
.nav-footer-text a {

    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
    font-size: 0.9em;
    outline: none;
    font-weight: 600;
    text-decoration: none;
     -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #fff;
}

.nav-footer-text a:hover {

    color: #4c00ec;
    font-weight: 300;

}

.icon-nav {

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: -3.5px;

}

.toppertje, .breezer-ananas {

    display: none;

}

.breezer-ananas {

    margin-bottom: 30px;
}

.breezer-ananas a {

    min-height: 4rem;
    align-items: center;
    border: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}

.breezer-ananas .btn-inverted:hover {

    background-color: #4C00EC;
    color: #fff;
}
.btn-group {

    display: flex;
}

.btn-group a {

    text-align: center;
}

.btn-group a:nth-child(1) {

    margin-right: -3.5px;
}

.btn-group a:nth-child(3) {

    margin-left: -3.5px;
}


@media screen and (max-width: 30.5em) {

    .toppertje {

        display: block;

    }


    .nav-categories-list {

        display: none;
    }

    .breezer-ananas {

    margin-bottom: 0px;

    }


}

@media screen and (max-width: 55em) {


    .breezer-ananas {

        display: flex;
    }

    .nav-footer-text {

        display: none;
    }


}


/* Portfolio Full Page images */

.full-webpage {

    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    margin-top: 2rem;
    background-position: center center;
    max-width: 100vw;

}

.hhw-full {

    background-image: url("../img/portfolio/honkbalweekhaarlem_fullpage_V1.png");
    height: 200vw;
}

.lariva-full {

    background-image: url("../img/portfolio/lariva_fullpage_V1.png");
    height: 200vw;

}

.dominic-full {

    background-image: url("../img/portfolio/dominic_fullpage_V1.png");
    height: 200vw;
}

.split-full {

    background-image: url("../img/portfolio/split_the_bill_fullpage.png");
    height: 200vw;
}

.soulcycle-full {

    background-image: url("../img/portfolio/soulcycle_fullpage_V1.png");
    height: 220vw;
}

.sprtz-full {

    background-image: url("../img/portfolio/sprtz_fullpage_V1.jpg");
    height: 220vw;
}



@media screen and (max-width: 44em) {

    .full-webpage {

        margin-bottom: 2rem;
    }


}

.btn-group-footer-nav {

    justify-content: center;
    background-color: hsl(160, 100%, 50%);
}

/* Contact Page */

.contact-page-content {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    justify-content: center;

}

.contact-page-content h1 {

    font-size: 2.5em;
    color: #fff;
    height: 2.5em;
    padding: 2.5rem;

}

.social-media-icons .fa {

    color: #fff;
    background-image: url('../img/social-media-bg.png');
    background-size: contain;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.social-media-icons .fa:hover {

    color: hsl(160, 100%, 50%);
    background-image: url('../img/social-media-bg-green.png');
      -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

@media screen and (max-width: 44em) {

    .social-media-icons {

        margin-top: 5rem;
    }
}

/* Modal webkit */

/* Common, default styles for the notification box */

.ns-box {
    position: fixed;
    padding: 22px;
    line-height: 1.4;
    z-index: 1000;
    pointer-events: none;
    font-size: 90%;
}

.ns-box.ns-show {
    pointer-events: auto;
}

.ns-box a {
    color: inherit;
    opacity: 0.7;
    color: #4c00ec;
}

.ns-box a:hover,
.ns-box a:focus {
    opacity: 1;
}

.ns-box p {
    margin: 0;
}

.ns-box.ns-show,
.ns-box.ns-visible {
    pointer-events: auto;
}

.ns-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 4px;
    top: 4px;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ns-close:hover,
.ns-close:focus {
    outline: none;
}

.ns-close::before,
.ns-close::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 60%;
    top: 50%;
    left: 50%;
    background: #595959;
}

.ns-close:hover::before,
.ns-close:hover::after {
    background: #fff;
}

.ns-close::before {
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
}

.ns-close::after {
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg);
}

/* To bar notifications */
.ns-box.ns-bar {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 90;
}

.ns-bar .ns-close {
    background: transparent;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ns-bar .ns-close::before,
.ns-bar .ns-close::after {
    background: #595959;
}

[class^="ns-effect-"].ns-bar.ns-hide,
[class*=" ns-effect-"].ns-bar.ns-hide {
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

/* Individual Effects */


/* Expanding Loader */
.ns-effect-exploader {
    background: hsl(160, 100%, 50%);;
    color: #595959;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.ns-effect-exploader .ns-box-inner {
    position: relative;
}

.ns-effect-exploader p {
    padding: 0.25em 3em 0.25em 3em;
    text-align: justify;
}

.ns-effect-exploader .ns-close:hover::before,
.ns-effect-exploader .ns-close:hover::after {
    background: #4c00ec;
}

.ns-effect-exploader.ns-show {
    -webkit-animation-name: animLoad;
    animation-name: animLoad;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes animLoad {
    0% { opacity: 1; -webkit-transform: scale3d(0,0.3,1); }
    33% { opacity: 1; -webkit-transform: scale3d(0.5,0.3,1); }
    50% { opacity: 1; -webkit-transform: scale3d(0.6,0.3,1); }
    80%, 85% { opacity: 1; -webkit-transform: scale3d(1,0.3,1); -webkit-animation-timing-function: cubic-bezier(0.4,0,0.3,1); }
    100% { opacity: 1; -webkit-transform: scale3d(1,1,1); }
}

@keyframes animLoad {
    0% { opacity: 1; -webkit-transform: scale3d(0,0.3,1); transform: scale3d(0,0.3,1); }
    33% { opacity: 1; -webkit-transform: scale3d(0.5,0.3,1); transform: scale3d(0.5,0.3,1); }
    50% { opacity: 1; -webkit-transform: scale3d(0.6,0.3,1); transform: scale3d(0.6,0.3,1); }
    80%, 85% { opacity: 1; -webkit-transform: scale3d(1,0.3,1); transform: scale3d(1,0.3,1); -webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1); animation-timing-function: cubic-bezier(0.7,0,0.3,1); }
    100% { opacity: 1; -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}

.ns-effect-exploader.ns-hide {
    -webkit-animation-name: animFade;
    animation-name: animFade;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.ns-effect-exploader.ns-show .ns-box-inner,
.ns-effect-exploader.ns-show .ns-close {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.ns-effect-exploader.ns-show .ns-close {
    -webkit-animation-name: animFade;
    animation-name: animFade;
}

.ns-effect-exploader.ns-show .ns-box-inner {
    -webkit-animation-name: animFadeMove;
    animation-name: animFadeMove;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes animFadeMove {
    0% { opacity: 0; -webkit-transform: translate3d(0,10px,0); }
    100% { opacity: 1; -webkit-transform: translate3d(0,0,0); }
}

@keyframes animFadeMove {
    0% { opacity: 0; -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
    100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@-webkit-keyframes animFade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes animFade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
