/* Copyright 2015 Daan van der Zwaag */


/* Fonts */

@font-face {
    font-family: 'Geometric_706';
    src: url('fonts/geometric_706_medium-webfont.eot');
    src: url('fonts/geometric_706_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geometric_706_medium-webfont.woff2') format('woff2'),
         url('fonts/geometric_706_medium-webfont.woff') format('woff'),
         url('fonts/geometric_706_medium-webfont.ttf') format('truetype'),
         url('fonts/geometric_706_medium-webfont.svg#geometric_706medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*----- Basic CSS -----*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #595959;
    overflow-x: hidden;
     -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    /*
    background-color: rgba(76, 0, 236, 0.05); */
}

main {

    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;

}

/* Big Border */

body {

    border-left: 30px solid #4c00ec;
    border-right: 30px solid #4c00ec;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

}

body:before, body:after {

    content: "";
    position: fixed;
    background: #4c00ec;
    left: 0;
    right: 0;
    height: 30px;
    z-index: 5;
     -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

body:before {

    top: 0;
    z-index: 5;

}

body:after {

    bottom: 0;
    z-index: 5;

}

body.big-border-white {

    border-left: 30px solid #fff;
    border-right: 30px solid #fff;

}

body.big-border-white::before, body.big-border-white::after {

    background: #fff;

}


@media screen and (max-width: 30.5em) {


    body, body.big-border-white {

    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;

}

    body:before, body:after {

        height: 0px;
    }

    body.big-border-white::before, body.big-border-white::after {

    height: 0;

    }
}


/* Header */

header {

    height: 98.5vh;
    width: 100%;
    z-index: -10;

}


.header-content {

    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
    position: relative;
    padding-top: 12.5%;


}


/*----- Typography -----*/

p {

    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;


}

h1, h2, h3, h4, h5, h6 {

    font-family: 'Geometric_706', 'Helvetica';
    font-weight: 300;
    color: #4C00EC;
}

header > div > h1 {

    font-size: 6em;
    margin-top: 0;
    margin-bottom: 1em;

}


header > div > h2 {

    font-size: 2.5em;
    text-align: right;
    height: 2em;

}

.text-right {

    text-align: right;
}

.text-left {

    text-align: left;
}

.text-center {

    text-align: center;
}

@media screen and (max-width: 48em) {

    header > div > h1 {
        font-size: 4em;
        margin-bottom: 2em;
    }

    header > div > h2 {
        font-size: 2em;
        margin-bottom: 2em;
    }

}

@media screen and (max-width: 44em) {

    header > div > h1 {
        font-size: 3.5em;
        margin-bottom: 3.5em;
    }

    header > div > h2 {
        font-size: 1.75em;
        margin-bottom: 1.75em;
    }

     .header-content {
        padding: 12.5%;
    }

    body > main > section:nth-child(1) > div.two-third {

        text-align: center;
    }


}

@media screen and (max-width: 38em) {

    header > div > h1 {
        font-size: 3em;
    }

    header > div > h2 {
        font-size: 1.5em;
        margin-bottom: 4em;
    }


}

@media screen and (max-width: 30.5em) {

    header > div > h1 {
        font-size: 2.5em;
        margin-bottom: 2.5em;
    }

    header > div > h2 {
        font-size: 1.25em;
        margin-bottom: 4em;
    }

}

.lead-text {

    font-family: 'Geometric_706', 'Helvetica';
    font-weight: 300;
    color: #242424;
}


/* Inverted Header */

.header-inverted {

    background: -webkit-linear-gradient(bottom, #4c00ec, #3E109F);
    background: -o-linear-gradient(bottom, #4c00ec, #3E109F);
    background: linear-gradient(to top, #4c00ec, #3E109F);
    height: 80vh;
    position: relative;
    transition: all 400ms cubic-bezier(0.755, 0.05, 0.855, 0.06);

    margin-left: -30px;
    margin-right: -30px;
    width: -moz-calc(100% + 60px);
    width: -webkit-calc(100% + 60px);
    width: -o-calc(100% + 60px);
    width: calc(100% + 60px);
    z-index: 5;

}



.header-inverted:after {

    content:'';
    position: absolute;
    top: 100%;
    left: 80%;
    margin-left: ;
    width: 0;
    height: 0;
    border-top: solid 50px #4c00ec;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
    transition: all 400ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
    z-index: 11;
}


.header-inverted > div > h1 {

    color: white;
}

.header-inverted > div > h2 {

    color: white;
}

@media screen and (max-width: 44em) {

    .header-inverted:after {

    left: 70%;
    border-top: solid 35px #4C00EC;
    border-left: solid 35px transparent;
    border-right: solid 35px transparent;
    }
}


@media screen and (max-width: 30.5em) {

    .header-inverted {

    height: 50%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    }

    .header-inverted:after {

    left: 70%;
    border-top: solid 20px #4C00EC;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
    }

}


/*----- Under Construction  -----*/


.under-construction {

    width: 17.5rem;

}

.under-construction > p {

    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
    font-size: 0.9em;
    color: rgb(112, 112, 112);

}

#error-message {

    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
    font-size: 0.9em;
    position: relative;
    min-height: 1em;
    margin: 1em 0;
    background: #f8f8f9;
    padding: 1em 1.5em;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    -webkit-transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
    transition: opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;
    box-shadow: 0 0 0 5px rgba(34,36,38,.22) inset,0 0 0 0 transparent;
    background-color: #fff6f6;
    color: #9f3a38;
    box-shadow: 0 0 0 1px #e0b4b4 inset,0 0 0 0 transparent;


}

@media screen and (max-width: 30.5em) {

    .under-construction {

        width: 100%;
    }

}


/*----- Under Construction | Link Styling -----*/

p > a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #4C00EC;
    text-decoration: none;
    font-weight: 400;

}

p > a:hover,
p > a:focus {
    outline: none;
}


p > a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 1.5px;
    background: #4C00EC;
    content: '';
    opacity: 0;
     -webkit-transform: translateY(8.5px);
    -moz-transform: translateY(-8.5px);
    transform: translateY(-8.5px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

p > a:hover::after,
p > a:focus::after {

    width: 100%;
    height: 1.5px;
    opacity: 1;

}

/* Buttons */

.btn {

    padding: 2% 5%;
    text-decoration: none;
    color: #4C00EC;
    background-color: #fff;
    border: 3.5px solid #4C00EC;
    border-radius: 0px;
    font-weight: 500;
    font-size: 0.9em;
    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';

}

.btn:hover,
.btn:focus {

    outline: none;
    background-color: #4C00EC;
    color: #fff;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

}

.btn-inverted {

    padding: 2% 5%;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: 3.5px solid #fff;
    border-radius: 0px;
    font-weight: 500;
    font-size: 0.9em;
    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';

}

.btn-inverted:hover,
.btn-inverted:focus {

    outline: none;
    background-color: #fff;
    color: #4C00EC;
    border-color: #fff;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

}

@media screen and (max-width: 30.5em) {
    .btn-inverted  {
        width: 100%;
        padding: 5%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

}

.btn-xl {

    width: 100%;

}

/*----- Menu Overlay -----*/

/*
 * All the credits go to Mary Lou
 * I modifed her demo to achieve this style
 * Full Screen Overlay Effects can be found at this URL:
 * http://tympanus.net/codrops/2014/02/06/fullscreen-overlay-effects/
 */


/* Overlay style */

.overlay {
    position: fixed;
    width: calc(100% - 60px);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    right: 0;
    left: 0;
    background: -webkit-linear-gradient(bottom, #3E109F, #4c00ec);
    background: -o-linear-gradient(bottom, #3E109F, #4c00ec);
    background: linear-gradient(to top, #3E109F, #4c00ec);
    z-index: 2;
}

.yolo {

    width: 100%;
    z-index: 20;

}

/* Menu style */

.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 54px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.overlay ul li a {
    font-family: 'Geometric_706', 'Helvetica';
    font-size: 4em;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    display: block;
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;

}

.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #29007F;
}




/* Effects */

.overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

@media screen and (max-height: 30.5em) {

    .overlay {
        width: 100%;
    }
    .overlay nav {
        height: 70%;
        font-size: 0.5em;
    }
    .overlay ul li {
        min-height: 35px;
    }
}

@media screen and (max-width: 30.5em) {
     .overlay {
        width: 100%;
    }
    .overlay nav {
        height: 50%;
        font-size: 0.5em;
    }

}

/*----- The Toggle Component -----*/

/*
 * All the credits go to CallMeNick.com
 * I edited his demo to achieve this style
 * CSS animating hamburger menu icons demo, which can be found at this url:
 * https://github.com/callmenick/Animating-Hamburger-Icons
 */

#trigger-overlay {

    position: fixed;
    z-index: 1000;
    width: 50px;
    height: 50px;
}

@media (min-width: 30.5em) and (min-height: 30.5em) {
  #trigger-overlay {
    width: 75px;
    height: 75px;
    /* border-radius: 48px; */
  }
}

.nav-button {

  display: block;
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: #4C00EC;
  font: inherit;
  font-size: 0;
  text-indent: -9999px;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
  /* reset some browser defaults */
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;

}

@media (min-width: 30.5em) and (min-height: 30.5em) {

  .nav-button {
    width: 75px;
    height: 75px;
    /*border-radius: 48px; */
  }
}

.nav-button:hover,
.nav-button:focus {
  outline: none;
}

.nav-button:hover {


  background-color: #4c00ec;

}

.nav-button.is-active {

    outline: none;
    background-color: transparent;

}

.nav-button span,
.nav-button span::before,
.nav-button span::after {
  display: block;
  position: absolute;
  height: 2.5px;
  background: #fff;
}

@media (min-width: 30.5em) and (min-height: 30.5em) {
  .nav-button span,
  .nav-button span::before,
  .nav-button span::after {
    height: 5px;
  }
}

.nav-button span {
  top: 25px;
  left: 10px;
  right: 10px;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}
@media (min-width: 30.5em) and (min-height: 30.5em) {
  .nav-button span {
    top: 35px;
    left: 20px;
    right: 20px;
  }
}

.nav-button span::before,
.nav-button span::after {
  left: 0;
  width: 100%;
  content: "";
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.nav-button span::before {
  top: -8px;
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}
@media (min-width: 30.5em) and (min-height: 30.5em) {
  .nav-button span::before {
    top: -12px;
  }
}

.nav-button span::after {
  bottom: -8px;
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}
@media (min-width: 30.5em) and (min-height: 30.5em) {
  .nav-button span::after {
    bottom: -12px;
  }
}

/* button active state */

.nav-button.is-active span {
  background: none;
}

.nav-button.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

.nav-button.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}


/* ----- Forms ----- */

.input-group {

    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group > .form-control {

    display: table-cell;
    position: relative;
    float: left;
    width: 101%;
    margin-bottom: 0;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2.5px solid #4C00EC;
    outline: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}

::-webkit-input-placeholder {
    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -100%;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
}

[placeholder]:focus:-moz-input-placeholder {
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -100%;
  opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
}

[placeholder]:focus::-moz-input-placeholder {
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -100%;
  opacity: 1;
}

[placeholder]:focus::-ms-input-placeholder {
  transition: text-indent 0.5s 0.5s ease;
  text-indent: -100%;
  opacity: 1;
}

:-ms-input-placeholder {
   font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';

}


.input-group-btn {

    display: table-cell;
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    margin-left: -4px;


}

.btn-password {

    width: 50px;
    height: 50px;
    background-image: url(../img/lock.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #4C00EC;
    border: 2.5px solid #4C00EC;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: color 0.6s;
    transition: color 0.6s;


}

.btn-password:hover {

    background-image: url(../img/Lock_open_color_new.png);
     background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    -webkit-transition: color 0.6s;
    transition: color 0.6s;

}

/* Random CSS Shit */

img {

    width: 100%;
    height: auto;
}

.show {

    display: block;
}

.hide {

    display: none;
}

.profile-pic {

    width: 80%;
}

#toggle-pic > img:nth-child(2) {

    display: none;
}

/*----- About me page ------*/


.small-timeline, .extra-list {
    padding: 0;
    padding-top: 2rem;
    list-style: none;
    position: relative;
    z-index: -1;
}

/* The line */

.small-timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    left: 20px;
    background: #4C00EC;
}


/* Right content */

.small-timeline > li {

    position: relative;
    padding-bottom: 1.5rem;

}

.small-timeline > li:last-child {

    padding-bottom: 0;
}

.small-timeline > li .timeline-event {

    font-weight: 300;
    position: relative;
    padding-left: 5rem;

}

.dark-text {

    color: #242424;
}


/* The Circles & End */


.small-timeline > li .timeline-circle {

    width: 20px;
    height: 20px;
    position: absolute;
    color: #fff;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #4C00EC;
    text-align: center;
    top: 0;
    left: 12.5px;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

}

.small-timeline > li:nth-child(1) .timeline-circle  {


    background: #4C00EC;

}

.timeline-end {

    width: 20px;
    height: 5px;
    position: absolute;
    background: #4C00EC;
    text-align: center;
    left: 12.5px;

}

.timeline-end:after {

    content: '';
    width: 20px;
    height: 5px;
    top: 0;
    right: 0;
    position: absolute;
    background: #4C00EC;
    text-align: center;
    margin-top: 12.5px;

}

/* Extra List */

.extra-list {

    padding-top: 2.5rem;
}

.extra-list > li .extra-circle {

    width: 20px;
    height: 20px;
    position: absolute;
    color: #fff;
    background: #fff;
    border-radius: 50%;
    margin-top: 5px;
    box-shadow: 0 0 0 5px #4C00EC;
    text-align: center;
    top: 0;
    left: 5px;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

}

.extra-list > li {

    position: relative;
    padding-bottom: 1.5rem;

}

.extra-list > li:last-child {

    padding-bottom: 0;
}

.extra-list > li .timeline-event {

    font-weight: 300;
    position: relative;
    padding-left: 5rem;

}


/* Switch Button /// Thanks to Call me Nick for the basic */

.switch {

    position: relative;
    top: 20px;
    margin-top: -10px;

}

.dvdz-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.dvdz-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.dvdz-toggle + label {
  padding: 2px;
  width: 100%;
  height: 3.5rem;
  background-color: transparent;
  border: 5px #4C00EC solid;
  transition: background 0.4s;
}
input.dvdz-toggle + label:before,
input.dvdz-toggle + label:after {
  display: block;
  position: absolute;
  content: "";
  line-height: 2.4em;
  font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
  font-size: 0.9em;
  font-weight: 600;

}

input.dvdz-toggle + label:before {
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  padding-left: 17.5%;
  content: attr(data-on);
  color: #4C00EC;
  backface-visibility: hidden;
  transition: background 0.4s;
}
input.dvdz-toggle + label:after {
  top: 5px;
  left: 5px;
  bottom: 5px;
  width: 50%;
  background-color: #4C00EC;
  color: #fff;
  text-align: center;
  content: attr(data-off);
  backface-visibility: hidden;
  transition: margin 0.4s, background 0.4s;
}
input.dvdz-toggle:checked + label {
  background-color: transparent;
}

input.dvdz-toggle:checked + label:after {

    margin-left: -moz-calc(50% - 10px);
    margin-left: -webkit-calc(50% - 10px);
    margin-left: -o-calc(50% - 10px);
    margin-left: calc(50% - 10px);
    background-color: #4C00EC;
    color: transparent;


}

@media screen and (max-width: 64em) {

     input.dvdz-toggle + label:before {

        content: 'Yes please';
        padding-left: 15%;
    }

    input.dvdz-toggle + label:after {

        content: 'No thanks';
    }

}

@media screen and (max-width: 44em) {

     input.dvdz-toggle + label:before {

        padding-left: 12.5%;
    }

    .switch {

        left: 0;
    }

    .small-timeline:before {

        left: 0;
    }

    .small-timeline > li .timeline-circle, timeline-end {

        left: -7px;

    }



    .timeline-end {

        left: -7px;
    }

    .small-timeline > li .timeline-event {


    padding-left: 3rem;

    }

}

@media screen and (max-width: 30.5em) {

     input.dvdz-toggle + label:before {

        padding-left: 7%;
    }
}

#panel, #panel-two {

    display: none;
    width: -moz-calc(100% + 20px);
    width: -webkit-calc(100% + 20px);
    width: -o-calc(100% + 20px);
    width: calc(100% + 20px);
    right: 20px;
}

#panel-three, #panel-four {

    display: none;
    width: 100%;
}

#panel-three {

    margin: 2rem 0 3rem 0;
}


@media screen and (max-width: 44em) {


    #panel, #panel-two, #panel-three, #panel-four {

    right: 0;
    width: 100%;

    }

}

/* Progress Bars */

.progress-box {

    height: 1.5rem;
    background-color: #fff;
    border: 2.5px solid transparent;
    -moz-border-image: -webkit-linear-gradient(left, #4c00ec, #23006c);
    -webkit-border-image: -o-linear-gradient(left, #4c00ec, #23006c);
    border-image: linear-gradient(to right, #4c00ec, #23006c);
    border-image-slice: 1;
    transition: background 0.4s;

}

progress {


    background: -webkit-linear-gradient(left, #4c00ec, #23006c);
    background: -o-linear-gradient(left, #4c00ec, #23006c);
    background: linear-gradient(to right, #4c00ec, #23006c);
    height: 100%;
    width: 100%;
    transition: background 0.4s;
}

progress::-webkit-progress-bar {
    background-color: #fff;
}

progress::-webkit-progress-value {
    background: -webkit-linear-gradient(left, #4c00ec, #23006c);
    background: -o-linear-gradient(left, #4c00ec, #23006c);
    background: linear-gradient(to right, #4c00ec, #23006c);

}

progress::-moz-progress-bar {
    background-color: #fff;

}

#skills > h3 {

    font-size: 0.8em;
    color: #242424;
}

/*----- Own Grid -----*/


.row {

  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.one-third {

  -ms-flex-preferred-size: 30%;
  -webkit-flex-basis: 30%;
  flex-basis: 30%;
  max-width: 30%;

}

.two-third {

  -ms-flex-preferred-size: 60%;
  -webkit-flex-basis: 60%;
  flex-basis: 60%;
  max-width: 60%;
  margin-left: auto;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media screen and (max-width: 44em) {

    main {

        padding: 12.5%;
    }

    .one-third, .two-third {

        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;

    }


    body > main > section > div.one-third {

        text-align: left;

    }

    body > main > section:nth-child(1) > div.one-third {

        text-align: center;
    }

    .profile-pic {

        width: 50%;
    }


}

/*----- Test Home Header -----*/

.home {

    background: -webkit-linear-gradient(bottom, #4c00ec, #3E109F);
    background: -o-linear-gradient(bottom, #4c00ec, #3E109F);
    background: linear-gradient(to top, #4c00ec, #3E109F);
    height: 100%;
    position: relative;
    transition: all 400ms cubic-bezier(0.755, 0.05, 0.855, 0.06);

}

.home-content {

    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.header-home-inverted {

    height: 100vh;
    position: relative;
    transition: all 400ms cubic-bezier(0.755, 0.05, 0.855, 0.06);


}

.header-home-content {

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 30%;
    transform: translateY(-30%);

}

.header-home-content > h1 {

    font-size: 2em;
    letter-spacing: .5em;
    color: white;
}

.header-home-content > h2 {

    text-align: center;
    font-family: 'Source Code Pro';
    font-size: 1.5em;
    color: white;
}

.logo-home {

    max-width: 10%;
    height: auto;
    margin-bottom: 5rem;
}

.menu-home {
    max-width: 55%;
    height: auto;
    margin-bottom: 5rem;
}

.header-home-button {

    background-color: #00EC9A;
    right: 15px;
    bottom: 15px;

}

@media screen and (max-width: 44em) {


    .header-home-content > h1 {

        font-size: 1em;
        margin-bottom: 0.5em;
    }

    .header-home-content > h2 {

        font-size:  1em;
    }

    .logo-home {

    max-width: 20%;
    margin-bottom: 2.5rem;
    }

    .header-home-content {


    position: relative;
    top: 30%;
    transform: translateY(-50%);

    }

}

@media screen and (max-width: 30.5em) {

       .header-home-button {

        right: 30px;
        bottom: 30px;
    }

}

/*----- Home Menu -----*/

.home-timeline {

 width: 80%;
 max-width: 1120px;
 margin-left: auto;
margin-right: auto;
}
.home-timeline-bar {
  position: relative;
  background: #fff;
  height: 5px;
  width: 100%;
}
.timeline-point {
  display: block;
  background: #4C00EC;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #fff;
  position: absolute;
  height: 20px;
  width: 20px;
  z-index: 1;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}
.timeline-point:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

/* Calculate top: 0 - (heightbar + 2 + (heightcircle x ('2 of 3')) */

.point-1 {
  left: 0;
  top: -7px;
  background: #00EC9A;
  box-shadow: 0 0 0 5px #00EC9A;
}
.point-2 {
  left: 33.333%;
  top: -27px;
}
.point-3 {
  left: 66.667%;
  top: -47px;
}
.point-4 {
  left: 100%;
  top: -67px;
}


/* Tooltips */
.timeline-point[data-tooltip] {
  position: relative;
  cursor: pointer;
}
.timeline-point[data-tooltip]:after {
  content: attr(data-tooltip);
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 13px;
  border: none;
  color: #fff;
  bottom: 150%;
  left: -100%;
  display: none;
  z-index: 999;
}
.timeline-point[data-tooltip]:hover:after {
  display: block;
}

/*----- Portfolio Grid -----*/

.portfolio-grid {

    margin-top: 3.5rem;
}

.portfolio-grid > article {

    margin-bottom: 2em;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio-item {

    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}


/*----- Scroll Fade In -----*/


.bounce-up {
  opacity: 0;

/*
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
    */

      -webkit-transition-property: -webkit-transform,opacity;
    -moz-transition-property: -moz-transform,opacity;
    transition-property: transform,opacity;
    -webkit-transition-delay: 0,.3s;
    -moz-transition-delay: 0,.3s;
    transition-delay: 0,.3s;
    -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    -moz-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
    transition-duration: 1.5s;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


/*----- Figure Styling & Hover Portfolio Effects -----*/

figure {
    position: relative;
    margin: 0;
    overflow: hidden;
    background: #4c00ec;
    text-align: center;
    cursor: pointer;
}

figure picture img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    /* opacity: 0.8; */
}

figure figcaption {
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
    pointer-events: none;
}

figure figcaption,
figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */

figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    font-size: 0;
    opacity: 0;
}

figure h2 {
    font-family: 'Geometric_706', 'Helvetica';
    font-weight: 300;
    font-size: 2em;
    letter-spacing: 4px;
}


figure h2,
figure p {

    margin: 0;
}

figure p {

    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
    font-size: 1em;
    letter-spacing: 2px;
}

figure p span {

    font-weight: 900;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.portfolio-item figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00EC9A;
    background-image: url(../img/hover_icon_portfolio_new.png);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}

figure.portfolio-item figcaption.small::before {

    background-image: url(../img/hover_icon_portfolio_width_green.png);

}

figure.portfolio-item figcaption.notsosquare::before {

    background-image: url(../img/hover_icon_portfolio_square_green.png);
    background-size: 20%;

}

figure.portfolio-item figcaption.disabled-figcap::before {

    background-image: 0;
    background-size: 0;
    background-color: transparent;

}


figure.portfolio-item h2 {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    color: #fff;
    opacity: 0;
    -webkit-transform: translate3d(0,90px,0);
    transform: translate3d(0,90px,0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figcaption.small h2 {

    top: 60%;
    font-size: 1.2em;

}

figcaption.notsosquare h2 {

    top: 60%;
    font-size: 1.2em;
}


figure.portfolio-item figcaption::before,
figure.portfolio-item p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.portfolio-item p {
    position: absolute;
    bottom: 5%;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

figure.portfolio-item:hover h2 {
    opacity: 1;
    color: #fff;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.portfolio-item:hover figcaption::before ,
figure.portfolio-item:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


figure.portfolio-item figcaption::after {

    content:'';
    position: absolute;
    top: 0;
    left: calc(50% - 50px);
    margin-left: auto;
    width: 0;
    height: 0;
    border-top: solid 50px #fff;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
    transition: transform .2s ease-in-out;
     -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);


}

figure.portfolio-item figcaption:hover::after {

     -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;

}

@-webkit-keyframes bounce {

    0%, 100% {

        -webkit-transform: translateY(-10px);
        animation-timing-function: ease-out;
    }

    50%  {

        -webkit-transform: translateY(-1px);
        animation-timing-function: ease-in;
    }
}

/*----- Small Hover + Responsiveness ------*/

figure.portfolio-item figcaption.small::before {

    background-size: 40%;

}

figcaption.small > h2  {

   top: 65%;
}

@media screen and (max-width: 62em) {

    figcaption.tall h2,
    figcaption.width h2 {

    top: 60%;
    font-size: 1.2em;

    }

    figure.portfolio-item figcaption.width::before {

    background-image: url('../img/hover_icon_portfolio_xs.png');
    background-size: 10%;
    }

    figure.portfolio-item figcaption.small::before,
    figure.portfolio-item figcaption.notsosquare::before {

    background-image: url('../img/hover_icon_portfolio_xs.png');
    background-size: 20%;
    }

    figure.portfolio-item figcaption::before {

    background-image: url('../img/hover_icon_portfolio_xs.png');
    background-size: 20%;
    }

}

@media screen and (max-width: 30.5em) {


    figure.portfolio-item p  {

        display: none;

    }

    figure.portfolio-item h2 {

        font-size: 1em;
    }


}

/* Blur Menu Home */

blur-menu {
  padding: 0;
  position: relative;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
}


/* hide warning when browser passes the test */
.cssfilters .no-cssfilters {display: none; }

/* make warning more noticable when test fails */
.no-cssfilters .no-cssfilters {
  color: #f99;
}

div.layer {
  background: #4C00EC;
  color: #000;
  position: absolute;
  border: 10px solid #09EF9F;


  /*
  * Transitioning the blur kicks this to the GPU, the .05s is a flood control
  * of sorts. Without a delay you're back in the same position as before with
  * too many paints.
  *
  * @see jankfree.org
  */
  -webkit-transition: -webkit-filter .05s linear;
  -moz-transition:    -moz-filter .05s linear;
  transition:         filter .05s linear;
}
div.layer span {
  display: block;
  width: 130px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  font-family: 'Helvetica', 'Sans Serif';
  font-weight: 300em;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

div.back {
  width: 400px;
  height: 400px;
  top: 200px;
  -webkit-transform: translateX(200px) rotate(45deg);
  -moz-transform: translateX(200px) rotate(45deg);
  transform: translateX(200px) rotate(45deg);
  z-index: 1;
}
div.middle {
  width: 400px;
  height: 400px;
  top: 300px;
  -webkit-transform: translateX(200px) rotate(45deg);
  -moz-transform: translateX(200px) rotate(45deg);
  transform: translateX(200px) rotate(45deg);
  z-index: 2;
}
div.front {
  width: 400px;
  height: 400px;
  top: 400px;
  -webkit-transform: translateX(200px) rotate(45deg);
  -moz-transform: translateX(200px) rotate(45deg);
  transform: translateX(200px) rotate(45deg);
  z-index: 3;
}

/*----- Portfolio Item Page Styling -----*/

.portfolio-header {

    height: 85vh;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: bottom;
     -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 44em) {

.portfolio-header {

    height: 50vh;

    }

}
@media screen and (min-width: 60em) {

    .portfolio-header {
    background-size: 60%;

    }


}

@media screen and (min-width: 105em) {

    .portfolio-header {
    background-size: 50%;

    }

}


/* Portfolio Headers */

.hwh-bg {

    background-image: url('../img/portfolio/honkbalweekhaarlem_header_V1.png');
    background-color: #f04e23;

}

.lariva-bg {

    background-image: url('../img/portfolio/lariva_header_v2.png');
    background-color: #169dee;

}

.dominic-bg {

    /* Fallback */
    background-image: url('../img/portfolio/dominic_header_V2.png');

    /* CSS gradients */
    background-image: url('../img/portfolio/dominic_header_V2.png'),
                      -moz-linear-gradient(top, #50fadc, #59c8fa);
    background-image: url('../img/portfolio/dominic_header_V2.png'),
                      -webkit-linear-gradient(bottom, #59c8fa, #50fadc);
    background-image: url('../img/portfolio/dominic_header_V2.png'),
                      linear-gradient(to top, #59c8fa, #50fadc);

    background-size: contain;


}

.split-bg {

    background-image: url('../img/portfolio/split_the_bill_header_V1.png');
    background-color: #f15b58;

}

.soulcycle-bg {

    background-image: url('../img/portfolio/soulcycle_header_V1.png');
    background-color: #1a1a1a;

}

.sprtz-bg {


     /* Fallback */
    background-image: url('../img/portfolio/sprtz_header_V1.png');

    /* CSS gradients */
    background-image: url('../img/portfolio/sprtz_header_V2.png'),
                      -moz-linear-gradient(top, #ea6212, #000);
    background-image: url('../img/portfolio/sprtz_header_V2.png'),
                      -webkit-linear-gradient(bottom, #000, #ea6212);
    background-image: url('../img/portfolio/sprtz_header_V2.png'),
                      linear-gradient(to top, #000, #ea6212);

    background-size: contain;


}



.portfolio-categories-list, .nav-categories-list {

    list-style: none;
    padding: 0;
    font-family: 'Source Code Pro', 'Helvetica', 'Sans Serif';
    font-size: 0.9em;
    color: #fff;

}

.nav-categories-list {

    margin-bottom: 20%;
}

.nav-categories-list a {

    outline: none;
    text-decoration: none;
     -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.4);
}

.nav-categories-list a:hover {

    color: #fff;

}

li.nav-categories-list-item.next-item > a {

    color: rgba(255, 255, 255, 0.8);
}

li.nav-categories-list-item.next-item > a:hover {

    color: #00EC9A;
}

.portfolio-title {

    margin: 0 0 10% 0;
    color: #fff;
}

.gradient-bg {

    background: -webkit-linear-gradient(bottom, #4c00ec, #3E109F);
    background: -o-linear-gradient(bottom, #4c00ec, #3E109F);
    background: linear-gradient(to top, #4c00ec, #3E109F);
}


.gray-bg {

    background-color: #f2f2f2;
}

.white-bg {

    background-color: #ffffff;
}


@media screen and (max-width: 30.5em) {

    .portfolio-title {
    margin: 0;

    }

    .portfolio-info-box {

    text-align: center;
    margin-bottom: 3rem;

    }

}

.portolio-intro-text {

    text-align: center;
    font-family: 'Geometric_706', 'Helvetica';
    font-weight: 300;
    color: #242424;
    line-height: 2em;
    font-size: 1em;
}

.with-who {

    text-align: center;
    color: #a6a6a6;
    margin-top: 2em;
}



/* Full width shit */

.full-width {

    max-width: 100%;
    padding: 0;

}

.full-width-row {

    margin-left: auto;
    margin-right: auto;
    padding 5rem;
}

.max-width-column {

    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;

}

.half {

    height: 50vh;

    }

@media screen and (max-width: 44em) {

    .max-width-column {
    padding: 12.5%;

    }

    .align-verticaly {
    transform: translateY(-0%);
    }

    .half {

    height: 100%;

    }

}

@media screen and (min-width: 44em) {

    .max-width-column div.col-xs-12 {

        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }


}

/* Buttons navigation portfolio */

.btn-group {

    display: none;
    margin-bottom: -3.5px;

}

.btn-group a {

    text-align: center;
}

.btn-group a:nth-child(1) {

    margin-right: -3.5px;
}

.btn-group a:nth-child(3) {

    margin-left: -3.5px;
}



@media screen and (max-width: 30.5em) {

    .btn-group {

    display: flex;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.4);

    }

    .nav-categories-list {

        display: none;
    }

}

/* Portfolio Full Page images */

.full-webpage {

    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    margin-top: 2rem;
    background-position: center center;


}

.hhw-full {

    background-image: url("../img/portfolio/honkbalweekhaarlem_fullpage_V1.png");
    height: 200vw;
}

.lariva-full {

    background-image: url("../img/portfolio/lariva_fullpage_V1.png");
    height: 200vw;
}

.dominic-full {

    background-image: url("../img/portfolio/dominic_fullpage_V1.png");
    height: 200vw;
}

.split-full {

    background-image: url("../img/portfolio/split_the_bill_fullpage.png");
    height: 200vw;
}

.soulcycle-full {

    background-image: url("../img/portfolio/soulcycle_fullpage_V1.png");
    height: 205vw;
}




@media screen and (max-width: 44em) {

    .full-webpage {

        margin-bottom: 2rem;
    }


}

.btn-group-footer-nav {

    justify-content: center;
    background-color: #00EC9A;
}
